<% title "Prawnto Demo" %>

<ol>
  <li><%= link_to "a4", url_for(:controller => "demo", :action => "a4", :format => :pdf)%></li>
  <li><%= link_to "attachment", url_for(:controller => "demo", :action => "attachment", :format => :pdf)%></li>
  <li><%= link_to "attachment_xxx", url_for(:controller => "demo", :action => "attachment_xxx", :format => :pdf)%></li>
  <li><%= link_to "controller_variable", url_for(:controller => "demo", :action => "variable", :format => :pdf)%></li>
  <li><%= link_to "dsl", url_for(:controller => "demo", :action => "dsl", :format => :pdf)%></li>
  <li><%= link_to "dsl_locals", url_for(:controller => "demo", :action => "dsl_locals", :format => :pdf)%></li>
  <li><%= link_to "envelope", url_for(:controller => "demo", :action => "envelope", :format => :pdf)%></li>
  <li><%= link_to "font_measurements", url_for(:controller => "demo", :action => "font_measurements", :format => :pdf)%></li>
  <li><%= link_to "inline", url_for(:controller => "demo", :action => "inline", :format => :pdf)%></li>
  <li><%= link_to "inline_xxx", url_for(:controller => "demo", :action => "inline_xxx", :format => :pdf)%></li>
  <li><%= link_to "landscape", url_for(:controller => "demo", :action => "landscape", :format => :pdf)%></li>
  <li><%= link_to "manifest", url_for(:controller => "demo", :action => "manifest", :format => :pdf)%></li>
  <li><%= link_to "thick_margins", url_for(:controller => "demo", :action => "thick_margins", :format => :pdf)%></li>
  <li><%= link_to "partial_test", url_for(:controller => "demo", :action => "partial_test", :format => :pdf)%></li>
</ol>
